<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCkEzV5DypXhW9g5aqBR9CEsdSI6N1LpOE</string>
	<key>GCM_SENDER_ID</key>
	<string>784034602652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DonationApp</string>
	<key>PROJECT_ID</key>
	<string>donation-app-a0603</string>
	<key>STORAGE_BUCKET</key>
	<string>donation-app-a0603.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784034602652:ios:7c27f16b482d90fdf9d759</string>
</dict>
</plist>